.scroll::-webkit-scrollbar {
    width: 12px;
    background: #14121733;
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #935c2d;
    border: 4px solid #302539;
}
